<section>
  <footer>
    <div class="bg-light">
      <div class="container">
        <div class="row fixed-bottom00 bg-light tabs">
          <div
            routerLinkActive="active"
            [routerLink]="['/home']"
            [queryParams]="{ userId: userId }"
            class="col-4 col-lg-4 col-md-4 col-sm-4 mt-2"
          >
            <a
              routerLink="home"
              class="text-decoration-none text-black"
              data-toggle="tab"
              role="tab"
              href="#Tab1"
              (click)="home()"
            >
              <div class="text-center">
                <div class="container" style="max-width: 80% !important">
                  <div class="footer-logo">
                    <img
                      src="../../assets/home-black.svg"
                      class="img-home"
                      style="padding: 6px 10px"
                      alt=""
                    />
                  </div>
                </div>
                <p class="footer-home">Cards</p>
              </div>
            </a>
          </div>
          <div
            routerLinkActive="active"
            [routerLink]="['/profile']"
            class="col-4 col-lg-4 col-md-4 col-sm-4 mt-2"
          >
            <a
              routerLink="/profile"
              class="text-decoration-none text-black"
              data-toggle="tab"
              role="tab"
              href="#Tab2"
              (click)="createcard()"
            >
              <div class="text-center">
                <div class="container" style="max-width: 80% !important">
                  <div class="footer-logo">
                    <img
                      src="../../assets/create-add.svg"
                      class="img-createcard"
                      style="padding: 6px 10px"
                      alt=""
                    />
                  </div>
                </div>
                <p class="footer-home">Create Card</p>
              </div>
            </a>
          </div>
          <div
            routerLinkActive="active"
            [routerLink]="['/setting']"
            class="col-4 col-lg-4 col-md-4 col-sm-4 mt-2"
          >
            <a
              routerLink="/setting"
              class="text-decoration-none text-black"
              data-toggle="tab"
              role="tab"
              href="#Tab3"
              (click)="setting()"
            >
              <div class="text-center">
                <div class="container" style="max-width: 80% !important">
                  <div class="footer-logo">
                    <img
                      src="../../assets/setting.svg"
                      class="img-setting"
                      style="padding: 6px 10px"
                      alt=""
                    />
                  </div>
                </div>
                <p class="footer-home">Settings</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
