<section
  class="mt-3"
  class="mt-3"
  style="
    position: absolute;
    top: 0;
    bottom: 65px;
    left: 0px;
    right: 0px;
    overflow: auto;
  "
>
  <div class="ms-3 me-3">
    <h1 class="setting">
      <span class="me-2"
        ><a routerLink="/setting"
          ><img
            src="../../../assets/arrow-left.svg"
            width="24px"
            alt="" /></a></span
      >Profile
    </h1>
    <div class="mt-5">
      <div class="row">
        <div class="col-3">
          <div class="me-auto">
            <img
              class="profile-logo"
              src="../../../assets/setting-logo.svg"
              width="100%"
              alt=""
            />
          </div>
        </div>
        <div class="col-5 my-auto">
          <div class="text-start mt-2">
            <h5 class="profile-name">{{ username }}</h5>
            <p class="profile-username">{{ "+" + isdCode + mobile }}</p>
          </div>
        </div>
        <div class="col-3 my-auto">
          <div class="ms-3">
            <button
              class="btn-edit-profile text-black"
              routerLink="/edit-profile"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="text-start">
          <h3 class="setting-general">Personal</h3>
          <a routerLink="/cards" class="text-decoration-none text-black">
            <h1 class="setting-menu mt-4">
              <span class="me-4"
                ><img
                  src="../../../assets/change-password.svg"
                  width="8%"
                  alt="" /></span
              >Your Cards
            </h1>
          </a>
        </div>
      </div>
      <div class="row mt-4">
        <div class="text-start">
          <h3 class="setting-general">Support Us</h3>
          <a routerLink="/help" class="text-decoration-none text-black">
            <h1 class="setting-menu mt-4">
              <span class="me-4"
                ><img
                  src="../../../assets/give-feedback.svg"
                  width="8%"
                  alt="" /></span
              >Give Feedback
            </h1>
          </a>
          <a href="" class="text-decoration-none text-black">
            <h1 class="setting-menu mt-4">
              <span class="me-4"
                ><img
                  src="../../../assets/share-1.svg"
                  width="7.5%"
                  alt="" /></span
              >Share App
            </h1>
          </a>
          <a href="" class="text-decoration-none text-black">
            <h1 class="setting-menu mt-4">
              <span class="me-4"
                ><img
                  src="../../../assets/rate-us.svg"
                  width="8%"
                  alt="" /></span
              >Rate Us
            </h1>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
