@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
.edit-profile {
color: var(--Black, #2A3342);
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.3px;
}

.hide {
    display: none;
  }
  .inner-addon { 
      position: relative; 
  }
  .inner-addon .far, .inner-addon .fas {
    position: absolute;
    padding: 10px 30px;
    z-index: 100;
    cursor: pointer;
  }
  .left-addon .far, .left-addon .fas  { left:  0px; }
  .right-addon .far, .right-addon .fas { right: 0px; top: 20%; }
  
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
  .btn-password{
border-radius: 6px;
background: #FF643A !important;
border: none;
}
.input-change {
border-radius: 6px;
border: 1px solid #CDD1E0;
background: #FFF;
}