<section
  class="mt-3"
  style="
    position: absolute;
    top: 0;
    bottom: 65px;
    left: 0px;
    right: 0px;
    overflow: auto;
  "
>
  <div class="ms-3 me-3">
    <h1 class="edit-profile">
      <span class="me-4"
        ><a routerLink="/setting"
          ><img
            src="../../../assets/arrow-left.svg"
            width="10%"
            alt="" /></a></span
      >Change Password
    </h1>
    <div class="mt-5">
      <div class="row">
        <form form [formGroup]="passwordForm" (submit)="changePassword()">
          <div class="mb-3 mt-0">
            <label for="password-field-current" class="form-label"
              >Current Password</label
            >
            <div class="form-group inner-addon right-addon">
              <div class="input-group col-6 mx-auto">
                <input
                  name="current password"
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control pwd-control input-change"
                  id="password-field-current"
                  placeholder="Current Password"
                  formControlName="OldPassword"
                />
                <div>
                  <i
                    alt="show"
                    class="far fa-eye eye-show"
                    (click)="showPassword = !showPassword"
                    [class.hide]="showPassword"
                  ></i>
                  <i
                    alt="hide"
                    class="far fa-eye-slash eye-hide"
                    (click)="showPassword = !showPassword"
                    [class.hide]="!showPassword"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)
            "
            class="form-text text-danger"
          >
            <div *ngIf="oldPassword.errors?.['required']">
              Field is required
            </div>
            <div *ngIf="oldPassword.errors?.['pattern']">
              Password must contain at least 8 characters `
            </div>
          </div>
          <div class="mb-3 mt-3">
            <label for="password-field-new" class="form-label"
              >New Password</label
            >
            <div class="form-group inner-addon right-addon">
              <div class="input-group col-6 mx-auto">
                <input
                  name="new password"
                  [type]="showPasswordnew ? 'text' : 'password'"
                  class="form-control pwd-control input-change"
                  id="password-field-new"
                  placeholder="New Password"
                  formControlName="NewPassword"
                  #pw
                />
                <div>
                  <i
                    alt="show"
                    class="far fa-eye eye-show"
                    (click)="showPasswordnew = !showPasswordnew"
                    [class.hide]="showPasswordnew"
                  ></i>
                  <i
                    alt="hide"
                    class="far fa-eye-slash eye-hide"
                    (click)="showPasswordnew = !showPasswordnew"
                    [class.hide]="!showPasswordnew"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              newPassword.invalid && (newPassword.dirty || newPassword.touched)
            "
            class="form-text text-danger"
          >
            <div *ngIf="newPassword.errors?.['required']">
              Field is required
            </div>
            <div *ngIf="newPassword.errors?.['pattern']">
              Password must contain at least 8 characters
            </div>
          </div>
          <div class="mb-3 mt-3">
            <label for="password-field-confirm" class="form-label"
              >Confirm Password</label
            >
            <div class="form-group inner-addon right-addon">
              <div class="input-group col-6 mx-auto">
                <input
                  name="confirm password"
                  [ngClass]="confirmPasswordClass"
                  [type]="showPasswordconfirm ? 'text' : 'password'"
                  class="form-control pwd-control input-change"
                  id="password-field-confirm"
                  placeholder="Confirm Password"
                  formControlName="ConfirmPassword"
                  #cpw
                  (keyup)="checkPasswords(cpw.value, pw.value)"
                />
                <div>
                  <i
                    alt="show"
                    class="far fa-eye eye-show"
                    (click)="showPasswordconfirm = !showPasswordconfirm"
                    [class.hide]="showPasswordconfirm"
                  ></i>
                  <i
                    alt="hide"
                    class="far fa-eye-slash eye-hide"
                    (click)="showPasswordconfirm = !showPasswordconfirm"
                    [class.hide]="!showPasswordconfirm"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
            class="form-text text-danger"
          >
            <div *ngIf="confirmPassword.errors?.['required']">
              Field is required
            </div>
            <div *ngIf="confirmPassword.errors?.['pattern']">
              Password must contain at least 8 characters
            </div>
          </div>
          <div
            *ngIf="!passwordsMatching && isConfirmPasswordDirty"
            class="form-text text-danger"
          >
            Passwords did not match
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-password w-100 mt-4"
            [disabled]="!passwordsMatching || !passwordForm.valid"
          >
            Update Password
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer
  style="
    position: absolute;
    bottom: 0px;
    height: 65px;
    left: 0px;
    right: 0px;
    overflow: hidden;
  "
></app-footer>
