<owl-carousel-o [options]="customOptions" [ngClass]="{ item: true }">
  <ng-template carouselSlide>
    <div>
      <div class="card dashboard-card">
        <div class="text-center">
          <img
            src="../../assets/bg-card.svg"
            width="100%"
            alt=""
            style="width: 100% !important"
          />
          <img class="edit-button" src="../../assets/edit-button.svg" alt="" />
          <div class="text-center overlay-top">
            <img class="logo-image" src="../../assets/logo.svg" alt="" />
            <h2 class="card-company-name">Ark Infosoft</h2>
            <p class="card-name">Ajaysinh Barad</p>
            <p class="mt-3 card-name container">
              I have a passion for design, creativity, case study, and research.
              Currently, design via Figma and Adobe XD...
            </p>
            <button class="card-button-gmail">
              contact&#64;arkinfosoft.com
            </button>
            <div class="row mt-3">
              <div class="col-12">
                <img src="../../assets/twiiter.svg" alt="" />
                <img src="../../assets/fb.svg" alt="" />
                <img src="../../assets/insta.svg" alt="" />
                <img src="../../assets/linkedin-1.svg" alt="" />
                <img src="../../assets/git.svg" alt="" />
                <img src="../../assets/web.svg" alt="" />
              </div>
            </div>
            <div class="row">
              <div class="col-12 button-overlay-card">
                <button
                  class="statistics-button text-white"
                  (click)="openModal()"
                >
                  <span class="me-1"
                    ><img src="../../assets/Statistics.svg" alt="" /></span
                  >Statistics
                </button>
                <button class="share-button text-white ms-2">
                  <span class="me-1"
                    ><img src="../../assets/share.svg" alt="" /></span
                  >Share
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card dashboard-card">
      <div class="text-center">
        <img
          src="../../assets/bg-card.svg"
          width="100%"
          alt=""
          style="width: 100% !important"
        />
        <img class="edit-button" src="../../assets/edit-button.svg" alt="" />
        <div class="text-center overlay-top">
          <img class="logo-image" src="../../assets/logo.svg" alt="" />
          <h2 class="card-company-name">Ark Infosoft</h2>
          <p class="card-name">Ajaysinh Barad</p>
          <p class="mt-4 card-name">
            I have a passion for design, creativity, case study, and research.
            Currently, design via Figma and Adobe XD...
          </p>
          <button class="card-button-gmail">contact&#64;arkinfosoft.com</button>
          <div class="row mt-3">
            <div class="col-12">
              <img src="../../assets/twiiter.svg" alt="" />
              <img src="../../assets/fb.svg" alt="" />
              <img src="../../assets/insta.svg" alt="" />
              <img src="../../assets/linkedin-1.svg" alt="" />
              <img src="../../assets/git.svg" alt="" />
              <img src="../../assets/web.svg" alt="" />
            </div>
          </div>
          <div class="row">
            <div class="col-12 button-overlay-card">
              <button
                class="statistics-button text-white"
                (click)="openModal()"
              >
                <span class="me-1"
                  ><img src="../../assets/Statistics.svg" alt="" /></span
                >Statistics
              </button>
              <button class="share-button text-white ms-2">
                <span class="me-1"
                  ><img src="../../assets/share.svg" alt="" /></span
                >Share
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card dashboard-card">
      <div class="text-center">
        <img
          src="../../assets/bg-card.svg"
          width="100%"
          alt=""
          style="width: 100% !important"
        />
        <img class="edit-button" src="../../assets/edit-button.svg" alt="" />
        <div class="text-center overlay-top">
          <img class="logo-image" src="../../assets/logo.svg" alt="" />
          <h2 class="card-company-name">Ark Infosoft</h2>
          <p class="card-name">Ajaysinh Barad</p>
          <p class="mt-4 card-name">
            I have a passion for design, creativity, case study, and research.
            Currently, design via Figma and Adobe XD...
          </p>
          <button class="card-button-gmail">contact&#64;arkinfosoft.com</button>
          <div class="row mt-3">
            <div class="col-12">
              <img src="../../assets/twiiter.svg" alt="" />
              <img src="../../assets/fb.svg" alt="" />
              <img src="../../assets/insta.svg" alt="" />
              <img src="../../assets/linkedin-1.svg" alt="" />
              <img src="../../assets/git.svg" alt="" />
              <img src="../../assets/web.svg" alt="" />
            </div>
          </div>
          <div class="row">
            <div class="col-12 button-overlay-card">
              <button
                class="statistics-button text-white"
                (click)="openModal()"
              >
                <span class="me-1"
                  ><img src="../../assets/Statistics.svg" alt="" /></span
                >Statistics
              </button>
              <button class="share-button text-white ms-2">
                <span class="me-1"
                  ><img src="../../assets/share.svg" alt="" /></span
                >Share
              </button>
            </div>
          </div>
        </div>
      </div>
    </div></ng-template
  >
</owl-carousel-o>
<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="fixed-bottom" role="document">
    <div class="modal-content modal-edit">
      <div class="row">
        <div class="text-center mt-2">
          <a (click)="closeModal()" class="text-decoration-none"
            ><img src="../../assets/header-modal.svg" alt=""
          /></a>
        </div>
      </div>
      <div class="modal-header">
        <h5 class="modal-title modal-title-style">Viewed by 105</h5>
        <button
          type="button"
          style="border: none; background-color: transparent"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z"
              fill="#888FA6"
            />
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <!-- Modal content goes here -->
        <div class="row">
          <div class="row">
            <div class="col-3">
              <div class="me-auto">
                <img src="../../assets/modal-img-1.svg" width="100%" alt="" />
              </div>
            </div>
            <div class="col-6">
              <div class="text-start">
                <h5 class="statistics-name">Abram Carder</h5>
                <p class="statistics-time">Today, 9:13 am</p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-3">
              <div class="me-auto">
                <img src="../../assets/modal-img-2.svg" width="100%" alt="" />
              </div>
            </div>
            <div class="col-6">
              <div class="text-start">
                <h5 class="statistics-name">AlFonso Gouse</h5>
                <p class="statistics-time">Today, 9:13 am</p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-3">
              <div class="me-auto">
                <img src="../../assets/modal-img-3.svg" width="100%" alt="" />
              </div>
            </div>
            <div class="col-6">
              <div class="text-start">
                <h5 class="statistics-name">Maria Korsgaard</h5>
                <p class="statistics-time">Today, 9:13 am</p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-3">
              <div class="me-auto">
                <img src="../../assets/modal-img-1.svg" width="100%" alt="" />
              </div>
            </div>
            <div class="col-6">
              <div class="text-start">
                <h5 class="statistics-name">Linkoln Workman</h5>
                <p class="statistics-time">Today, 9:13 am</p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-3">
              <div class="me-auto">
                <img src="../../assets/modal-img-2.svg" width="100%" alt="" />
              </div>
            </div>
            <div class="col-6">
              <div class="text-start">
                <h5 class="statistics-name">Terry Franci</h5>
                <p class="statistics-time">Today, 9:13 am</p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-3">
              <div class="me-auto">
                <img src="../../assets/modal-img-1.svg" width="100%" alt="" />
              </div>
            </div>
            <div class="col-6">
              <div class="text-start">
                <h5 class="statistics-name">Dulce Herwitz</h5>
                <p class="statistics-time">Today, 9:13 am</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
