<section
  class=""
  style="
    position: absolute;
    top: 0;
    bottom: 65px;
    left: 0px;
    right: 0px;
    overflow: auto;
  "
>
  <div class="container-fluid px-lg-5 px-md-3">
    <h1 class="edit-profile mt-4">
      <span class="me-2"
        ><a [routerLink]="['/home']" [queryParams]="{ userId: userId }"
          ><img src="../../../assets/cross.svg" width="24px" alt="" /></a
      ></span>
      Create Card
    </h1>
    <div class="sections py-4">
      <div>
        <nav class="pb-5">
          <div
            class="nav nav-tabs justify-content-around"
            id="nav-tab"
            role="tablist"
          >
            <button
              [class]="activeTab == 'home' ? 'active' : ''"
              class="nav-link"
              id="nav-home-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-home"
              type="button"
              role="tab"
              aria-controls="nav-home"
              aria-selected="true"
              (click)="activeTab = 'home'"
            >
              Home
            </button>
            <button
              [class]="activeTab == 'about' ? 'active' : ''"
              class="nav-link"
              id="nav-about-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-about"
              type="button"
              role="tab"
              aria-controls="nav-about"
              aria-selected="false"
              (click)="activeTab = 'about'"
            >
              About US
            </button>
            <button
              [class]="activeTab == 'product' ? 'active' : ''"
              class="nav-link"
              id="nav-products-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-products"
              type="button"
              role="tab"
              aria-controls="nav-products"
              aria-selected="false"
              (click)="activeTab = 'product'"
            >
              Products
            </button>
            <button
              [class]="activeTab == 'payment' ? 'active' : ''"
              class="nav-link"
              id="nav-payment-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-payment"
              type="button"
              role="tab"
              aria-controls="nav-payment"
              aria-selected="false"
              (click)="activeTab = 'payment'"
            >
              Payment Details
            </button>
            <button
              [class]="activeTab == 'url' ? 'active' : ''"
              class="nav-link"
              id="nav-gallery-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-url"
              type="button"
              role="tab"
              aria-controls="nav-url"
              aria-selected="false"
              (click)="activeTab = 'url'"
            >
              URL
            </button>
            <button
              [class]="activeTab == 'gallery' ? 'active' : ''"
              class="nav-link"
              id="nav-gallery-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-gallery"
              type="button"
              role="tab"
              aria-controls="nav-gallery"
              aria-selected="false"
              (click)="activeTab = 'gallery'"
            >
              Gallery
            </button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div
            [class]="activeTab == 'home' ? 'show active' : ''"
            class="tab-pane fade"
            id="nav-home"
            role="tabpanel"
            aria-labelledby="nav-home-tab"
          >
            <app-home-web
              [companyDetails]="companyProfile"
              (updateTabName)="cardUrl = $event; activeTab = 'about'"
            ></app-home-web>
          </div>
          <div
            [class]="activeTab == 'about' ? 'show active' : ''"
            class="tab-pane fade"
            id="nav-about"
            role="tabpanel"
            aria-labelledby="nav-about-tab"
          >
            <app-about
              [aboutCompanyDetail]="aboutCompany"
              (updateTabName)="activeTab = 'product'"
            ></app-about>
          </div>
          <div
            [class]="activeTab == 'product' ? 'show active' : ''"
            class="tab-pane fade"
            id="nav-products"
            role="tabpanel"
            aria-labelledby="nav-products-tab"
          >
            <app-products
              *ngIf="isLoadChildComponent"
              [product]="products"
              (updateTabName)="activeTab = 'payment'"
            ></app-products>
          </div>
          <div
            [class]="activeTab == 'payment' ? 'show active' : ''"
            class="tab-pane fade"
            id="nav-payment"
            role="tabpanel"
            aria-labelledby="nav-payment-tab"
          >
            <app-payment
              *ngIf="isLoadChildComponent"
              [payment]="payment"
              (updateTabName)="activeTab = 'gallery'"
            ></app-payment>
          </div>
          <div
            [class]="activeTab == 'gallery' ? 'show active' : ''"
            class="tab-pane fade"
            id="nav-gallery"
            role="tabpanel"
            aria-labelledby="nav-gallery-tab"
          >
            <app-gallery
              *ngIf="isLoadChildComponent"
              [gallery]="gallery"
            ></app-gallery>
          </div>
          <div
            [class]="activeTab == 'url' ? 'show active' : ''"
            class="tab-pane fade"
            id="nav-url"
            role="tabpanel"
            aria-labelledby="nav-url-tab"
          >
            <app-url *ngIf="isLoadChildComponent" [url]="url"></app-url>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  id="footer"
  style="
    position: absolute;
    bottom: 0px;
    height: 65px;
    left: 0px;
    right: 0px;
    overflow: hidden;
  "
>
  <app-footer></app-footer>
</div>
